<!DOCTYPE html>
<html>
  <head>
    <title>Tuner's Instruments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tuner's Instruments</h1>
    <p><a href="/inventory">View current inventory</a></p>
  </body>
</html>
