<!DOCTYPE html>
<html>
  <head>
    <title>Tuner's Instruments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><a href="/inventory"><img src="/images/logo.svg" id="logo"/></a></header>
    <div class="main-index">
      <div class="index">
        <h2>Welcome to the Tuner's Instruments database.</h2>
        <p><a href="/inventory">View current inventory</a></p>  
      </div>
    </div>
    <footer>Copyright © 2023 Phillip Ott</footer>
  </body>
</html>
