<!DOCTYPE html>
<html>
  <head>
    <title>Tuner's Instruments</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
    <header><a href="/inventory"><img src="/images/logo.svg" id="logo"/></a></header>
    <div class="main">
        <div class="sidebar">
            <ul>
                <li><a href="/inventory/items">View all items</a></li>
                <li><a href="/inventory/categories">View all categories</a></li>
                <li><a href="/inventory/manufacturers">View all manufacturers</a></li>
                <br>
                <br>
                <li><a href="/inventory/items/create">Add item</a></li>
                <li><a href="/inventory/manufacturer/create">Add manufacturer</a></li>
              </ul>
        </div>
        <div class="main-content">
          <h2>Delete Item</h2>
          <p>Please confirm deletion of <strong><%= name %></strong>.</p>
          <form class="delete-form" method="POST" action="">
              <button class="delete" id="delete-page" type="submit">Delete</button>
          </form>    
        </div>
    </div>
    <footer>Copyright © 2023 Phillip Ott</footer>
  </body>
</html>